{{!< layout/main}}

<h1>Lista de Productos</h1>
{{#each products}}
  <div>
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>Precio: ${{this.price}}</p>
    <button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>
    <a href="/products/{{this._id}}">Ver Detalles</a>
  </div>
{{/each}}
<div>
  {{#if prevLink}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}
  Página
  {{page}}
  de
  {{totalPages}}
  {{#if nextLink}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>
<script>
  function addToCart(productId) { fetch(`/api/carts/{{cartId}}/products`, {
  method: 'POST', headers: { 'Content-Type': 'application/json' }, body:
  JSON.stringify({ productId, quantity: 1 }) }) .then(response =>
  response.json()) .then(data => { alert('Producto agregado al carrito'); })
  .catch(error => { alert('Error al agregar el producto al carrito'); }); }
</script>